<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |c| %>
<div class="dose-description">
  <%= c.description %> <%= "of " %><%= c.ingredient.name %>
  </div>
<% end %>

<%= simple_form_for @cocktail do |f| %>
<%= f.input :name %>
<%= f.submit %>
<% end %>

<%= link_to "Go to index", cocktails_path, class: "btn btn-primary" %>
